ul {
  padding-left: 15px;
}

li {
  list-style: linear-gradient(-135deg, #8E312A, #CCCCCC);
}

.App {
  text-align: center;
  width: 960px;
  height: 720px;
  margin: 0 auto;
  background-color: #CCC;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 10px;
  margin-bottom:-50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 0px;
  color: white;
}

.App-intro {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 60px 100px;
  color: #3E3541;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 300px;
  max-height: 420px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  box-shadow: #999 5px 5px 15px;
}

.powerstation {
  width: 180px;
  max-height: 420px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  padding: 0 10px;
}

.bordered {
  box-shadow: #777 2px 2px 5px;
}

.Game {

}

.Cards li {
  font-size: 1rem;
  color: #CCC;
  line-height: 1.2rem;
}

.abs {
  position: absolute;
  top: 0;
  left: 0;
}


.list {
  box-sizing: border-box;
  text-align: left;
  padding-left: 0px;
  margin-top: -5px;
  color: white;
  vertical-align: middle;
  text-align: center;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.list li {
  list-style: none;
  color: white;
}
.list * {
  vertical-align: middle;
}

.effects {
  position: absolute;
  margin-top: -45px;
  margin-left: 50px;
}

.effect {
  background: #333;
  color: white;
  padding: 3px;
  transform: rotate(25deg);
  display: inline-block;
  margin-left: -30px;
}

.effects li {
  list-style: none;
}